body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.bubbler-one-regular {
    font-family: "Bubbler One", serif;
    font-weight: 600;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
    font-size: 16px;
    position: relative;
    padding: 2px;
    padding-left: 30px;
}

.navbar .dropdown {
    position: relative;
    display: inline-block;
}

.navbar a#link:hover {
    color: darkorange;
}

.navbar .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 150px;
}

.navbar .dropdown-content a {
    display: block;
    padding: 10px;
    white-space: nowrap;
}

.navbar .dropdown .dropdown-content a:hover {
    background-color: darkorange;
    color: #000;
    border-radius: 0 30px;
    padding-left: 10px;
    transition: .5s ease;
}

.navbar .dropdown:hover .dropdown-content {
    display: block;
}